h1{
    text-align: center;
    width: 800px;
    background-color:rgb(0.6,1,1,0.8) ;
    margin: auto;
    color: #ffffff;
    padding: 10px 0px 10px 0px;
    border-radius: 15px 15px 0px 0px;
    text-shadow: 5px 0px 5px rgb(240, 173, 173);
    font-family:cursive;
    font-style: oblique;
    
}
textarea
{
    resize: none;
}
*
{
    margin: 5px;
    padding: 2px;
}
body
{
    background-image: url('b4.jpg');
    background-position: center;
    background-size: cover;
    font-family: sans-serif;
    margin-top: 40px;
}
.frm
{
    background-color: rgb(0,0,0,0.5);
    width: 800px;
    margin: auto;
    border-radius: 10px 10px 0px 0px;

}
form
{
    padding: 10px;

}
h2
{
    margin-left: 25px; 
    margin-top: 30px;
    width: 100%;
    height: 100%;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;

}
.rd
{
    display:inline-block;
    padding-right: 70px;
    font-size: 25px;
    margin-left: 25px;
    margin-top: 15px;
    color: white;
}
button
{
    padding: 5px 30px;
    border: none;
    outline: none;
    background-color: rgb(8, 6, 1);
    color: black;
    cursor: pointer;
    border-radius: 10px;
    font-size: 20px;
    display: block;
    margin: auto;
    transition: 0.3s;
    cursor:pointer;
    opacity:0.8;
    color: #ffffff;
    font-family: sans-serif;
}
button:hover
{
    background: transparent;
    transform: scale(1.5);
}
td.ck
{
    font-size: 17px;
    color: #ffffff;
}
nav ul
{
    list-style-type: none;
}

nav ul a
{
    background:top;
    display: inline-block;
    padding: 20px;
    text-decoration: none;
    color: rgb(245, 250, 248);
    transition: 0.3s ease-in-out;
    font-size: 18px;
    font-family: monospace;
}
nav ul a:hover
{
    background: transparent;
    color: rgb(245, 240, 240);
    font-size:20px;
    font-family:fantasy
}
nav ul a:hover::before
{
    width: 40%;
}